/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

input[type='text']{width:40%;font-size:3em;background:white;border:1px solid black}
input[type='textarea']{width:90%;position:relative;margin:1% 4%;font-size:5em;border:1px solid black}
.keyboard{border:1px solid black;border-radius:5px;padding:1%;margin:1% 0}
.key{position:relative;border:0.5px solid gray;border-radius:3px}
.keyName{font-size:3em}
.numbers-row{position:relative;display:grid;grid-template-columns:0% repeat(10,1fr)0.5fr}
.top-row{position:relative;display:grid;grid-template-columns:0.5fr repeat(10,1fr) 0%}
.middle-row{position:relative;display:grid;grid-template-columns:0.75fr repeat(9,1fr)0.9fr}
.bottom-row{position:relative;display:grid;grid-template-columns:1.25fr repeat(7,1fr) 2.5fr}