/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

select{background:rgb(231, 231, 231);font-size:300%;position:relative;width:50%;left:25%;box-shadow:5px 5px 5px gray}
input[type='text']{width:97%;font-size:300%;background:white;color:black;border:1px solid black;text-align:center;margin:1%;padding:0%}
input[type='textarea']{width:90%;position:relative;margin:1% 4%;font-size:500%;border:1px solid black}
.keyboard{border:1px solid black;border-radius:5px;padding:1% 0%;margin:1% 0;background:darkgray}
.key{position:relative;border:0.5px solid gray;border-radius:5px;background:black;margin:3% 1%;box-shadow:5px 5px 10px black}
.key:hover{box-shadow:none;}
/* .keyName{font-size:200%;background:black;color:white;position:absolute;top:0px;border-radius:25px;padding:1% 5%} */
.keyName{font-size:150%;background:none;color:white;position:relative;display:block;top:0px;width:100%;text-align:center}
.numbers-row{position:relative;display:grid;grid-template-columns:0% repeat(10,1fr)0.5fr}
.top-row{position:relative;display:grid;grid-template-columns:0.5fr repeat(10,1fr) 0%}
.middle-row{position:relative;display:grid;grid-template-columns:0.75fr repeat(9,1fr)0.9fr}
.bottom-row{position:relative;display:grid;grid-template-columns:1.25fr repeat(9,1fr) 0.5fr}